.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
.list {
    width: 45%;
    margin-bottom: 40px;
}

 /* Estilos para el contenedor del carrusel */
 .doblecarousel {
    
    width: auto;
    height: 200px;
    border: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-auto-flow: column dense; 

  }
    
  /* Estilos para las imágenes del carrusel */
  .image {
    width: auto;
    height: 80px;
    object-fit: contain; 
  }

  /* Estilos para la 1erafila del carrusel*/
  .row-1 {
    grid-row: 1; 
    animation: slide-left 3s linear infinite; 
  }

  /* Estilos para la 2dafila del carrusel*/
  .row-2 {
    grid-row: 2; 
    animation: slide-right 4s linear infinite; 
  }

  /* Animación que desplaza las imágenes hacia la izquierda */
  @keyframes slide-left {
    from {
      transform: translateX(0); 
    }
    to {
      transform: translateX(-100px); 
    }
  }

  /* Animación que desplaza las imágenes hacia la derecha */
  @keyframes slide-right {
    from {
      transform: translateX(0); 
    }
    to {
      transform: translateX(100px);
    }
  }