* {
    margin: 0;
    padding: 0;
       
    font-family: $fontRoboto;

}

h1{
    text-align: center;
    margin: 25px 0 ;
}

.carousel-inner{

    max-height: 26rem;
}
       
 @include media-up(md) {
    
    #info { 
        width: auto!important;
    }
    .servicio-fila {
        width: auto !important;
        text-align:center;

    }
} 

.wrapper {

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);



}


  