* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;   
    font-family: $fontRoboto;

}

h1{
    text-align: center;
    margin: 25px 0 ;
}

.carousel-inner{

    max-height: 26rem;
}
       
 @media (max-width:540px) {
    
    #info { 
        width: auto!important;
    }
    .servicio-fila {
        width: auto !important;
        text-align:center;

    }
} 
/*---SERVICIOS ---*/



/*--CONTACTO--*/

.containerContacto {

    max-width: 1100px;
    margin: auto;
    padding: 80px 0;

}

.col input, .col textarea {

    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 20px;
    font-size: 18px;

}
