* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontRoboto;

}

h1{
    text-align: center;
    margin: 25px 0 ;
}

.carousel-inner{
    max-height: 26rem;
}
       
 @media (max-width:768px) {
    #info { 
        width:90% !important;
    }
    .servicio-fila {
        width:90% !important;
        text-align:center;

    }
}