
.contacto {

    height: 40vh;
    margin: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr;
    grid-gap: 10px; 
    grid-template-areas:"form maps";

  }
  
.form {

    grid-area: form; 
    
  } 

.maps {

    grid-area: maps;
  }

  