header {
    .nav-item {
        -webkit-animation:swirl-in-fwd .6s ease-out both;
         animation:swirl-in-fwd .6s ease-out both;

    }
    .border{ border: 10px solid}
    .nav {
    overflow: hidden;
    }  
    
         a {
    
        padding: 14px 16px bold;
        margin: auto 30px;
        font-weight: bold;
        font-size: 40px;
         }
    .nav-item:hover{
    
    background-color: $colorhover;
    padding: 3px;
   
    }
    
    @for $item from 1 through 5 {
        .nav-item#{$item} {
            animation-delay: $item*0.5s;
        }

    }  
    

}


 @-webkit-keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%
 {-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}
 @keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%
 {-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}