@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$fontRoboto: 'Roboto';

$colorhover: rgb(11, 8, 156);

$breakpoints: (
    sm : 540px,
    md : 768px,
    lg : 1024px,
    xl : 1280px
);

@mixin media-up($breakpoints){
    @media screen and (min-width: map-get($breakpoints, $breakpoints)) {
        
    }

}


